body {
    font-family:Arial;
}
#logo {
    display: block;
    margin: auto;
    width:40%;
}
[data-role="header"] {
    text-align:center;
    padding:8px;
}
[data-role="footer"] {
    text-align:center;
}
.tdhead {
    background-color:lightgrey;
    font-weight:bold;
    padding-top:4px;
    padding-bottom:4px;
    text-align:center;
}
.div_gravado {
    white-space:pre-wrap;
    word-break:break-all;
    word-wrap:break-word;
}
.darkp {
    background-color:black;
    color:white;
}
.reclamacao_r_tr {
    display:none;
}
#mapgeo {
    width:100%;
    height:500px;
    border:solid 1px blue;
}
#mapinf {
    border:solid 1px blue;
    width:100%;
    height:20px;
    margin-top:4px;
    padding:2px;
}